img {
	max-width: 120px;
}

.flex-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.flex-column {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
}