img {
	max-width: 120px;
}

div {
	text-align: center;
}

h1 {
	margin: 0px;
	padding: 0px;
}

h2 {
	text-decoration: underline;
}

body {
	border: 0px;
	margin: 0px;
    padding: 0px;
	background-color: #3C4F76;
	color: #DDDBF1;
}

p {
	font-size: 20px;
	color: white;
}

header {
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #DDDBF1;
	color: #383F51;
}

a {
	margin: 8px 24px;
	font-size: 18px;
}

a:visited {
	color: #D1BEB0;
}

a:hover {
	color: green;
}

.flex-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.flex-column {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
}

.headerLink {
	text-decoration: none;
}

.headerLink:visited {
	color: #0d8686;
}

.text {
	border-radius: 5px;
	background-color: #DDDBF1;
	color: #3C4F76;
}

