#div1 {
	background-color: blue;
	font-size: 32px;
}

#div2 {
	background-color: green;
	font-size: 28px;
}

#div3 {
	background-color: purple;
	font-size: 24px;
}

#myButton {
	display: block;
}

.divs {
	margin: 24px 12px 24px;
	text-align:center;
}

.divs:hover {
	text-decoration: bold;
}